@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  background: rgb(238, 174, 202);
  background: linear-gradient(
      0deg,
      rgba(238, 174, 202, 1) 0%,
      rgba(176, 158, 255, 1) 53%,
      rgba(90, 127, 171, 1) 100%
    )
    fixed;
}
body {
  display: flex;
  flex-flow: column wrap;
  color: #232;
  font-family: "Roboto Mono", monospace;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 55px;
}

header {
  border-bottom: 2px solid #232;
  margin-bottom: 4%;
}
.words-dashboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 340px;
  margin: 0 auto;
}

.words-dashboard div {
  font-size: 25px;
  width: 50px;
  height: 50px;
  margin: 0 5% 5% 0;
  border: 5px solid #232;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
}

.correct {
  background-color: greenyellow;
  animation: rotateXY 0.5s linear forwards;
}

.wrong-place {
  background-color: rgb(216, 255, 157);
  animation: rotateX 0.5s linear forwards;
}

div.result {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin-bottom: 1%;
  border: 0;
  border-radius: 0;
  border-bottom: 5px solid #232;
  justify-content: center;
  align-items: center;
}

button {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

button:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}

.invalid {
  animation: invalid 1s ease-in-out;
}

@keyframes invalid {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotateXY {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}

@keyframes rotateX {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
